@import "variables";

h1, h2, h3, h4, h5, h6 {
  font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.bar {
  &.bar-ford {
    background-color: $royal;
    color: $white;
    .title {
      color: inherit;
    }
  }
}