// Colours
// -------------------------------
$royal: #0064b4 !default;
$light-grey: #f0f0f0 !default;
$main-black: #1e1e1e !default;
$secondary-grey: #777777 !default;
$chevron-right: #787878 !default;
$white : #ffffff !default;
$coloured-background: #f0f0f0 !default;

// Base
// -------------------------------
$font-thin: "FordAntenna-Thin";
$font-light: "FordAntenna-Light";
$font-bold: "FordAntenna-Bold";
$font-family-thin: $font-thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light: $font-light, "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-bold: $font-bold, "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-monospace: monospace !default;

$font-family-base: $font-family-light !default;
$font-size-base: 14px !default;
$font-size-large: 18px !default;
$font-size-small: 11px !default;

$line-height-base: 1.428571429 !default;
// 20/14
$line-height-computed: floor($font-size-base * $line-height-base) !default;
// ~20px
$line-height-large: 1.33 !default;
$line-height-small: 1.5 !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;

$base-background-color: $light-grey !default;
$base-color: $main-black !default;




