 <ion-view class="title" title="{{viewTitle}}" right-buttons="rightButtons">
      <ion-tabs tabs-type="hidden" class="tabs-item-hide" animation="slide-left-right">

        <ion-tab title="Step 1" ui-sref="main.form.step1">
          <ion-nav-view name="steps"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
 </ion-view>
