<ion-view view-title="1 of 3">
    <ion-content class="coloured-bg has-header" padding="true" has-header="true">
        <div class="item item-text-wrap component">
            <div class="title-module">
                <h2 class="title text-center">What age is the customer??</h2>
                <span class="block text-center">Optional</span>
            </div>
            <div class="list">
                <p>selected item is : {{formData.age}}</p>

                <div class="item item-input item-select">
                    <select ng-model="formData.age" ng-options="g.age as g.age for g in filterOptions.categories"
                            ng-change="vm.change(formData.age)">
                        <option value="">--All--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="radios">
            <ion-radio ng-model="formData.gender" name="gender" ng-value="'Male'">Male</ion-radio>
            <ion-radio ng-model="formData.gender" name="gender" ng-value="'Female'">Female</ion-radio>
        </div>
    </ion-content>
    <div class="button-bar">
        <div class="padding next-button">
            <a ui-sref="main.form.step2" class="button button-block button-white">Next</a>
        </div>
    </div>
</ion-view>