@font-face {
  font-family: "FordAntenna-Thin";
  src: url("../fonts/FordAntenna/FordAntenna-Thin.otf"); }

@font-face {
  font-family: "FordAntenna-Light";
  src: url("../fonts/FordAntenna/FordAntenna-Light.otf"); }

@font-face {
  font-family: "FordAntenna-Bold";
  src: url("../fonts/FordAntenna/FordAntenna-Bold.otf"); }

h1, h2, h3, h4, h5, h6 {
  font-family: FordAntenna-Thin, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

.bar.bar-ford {
  background-color: #0064b4;
  color: #ffffff; }
  .bar.bar-ford .title {
    color: inherit; }

.buttons.button-white, .button.button-white {
  background-color: transparent;
  color: #ffffff; }

.button-bar .next-button {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .button-bar .next-button .button-white {
    background-color: #ffffff;
    border: none;
    color: #0064b4; }

.radios {
  margin: 1em 0;
  float: left;
  width: 100%; }
  .radios .item.item-radio {
    width: 50%;
    float: left; }
    .radios .item.item-radio:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
    .radios .item.item-radio:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px; }
  .radios .item-radio input:checked ~ .item-content {
    background-color: #0064b4;
    color: #ffffff; }

.form-errors {
  margin: 5px 0; }
  .form-errors .form-error {
    padding: 2px 0 2px 16px;
    color: red; }

label.item.has-error {
  border-bottom: 2px solid red; }
label.item.has-error-lr {
  border-left: 2px solid green;
  border-right: 2px solid green; }

.view-container .pane .coloured-bg {
  background-color: #f0f0f0; }

.item.component {
  margin: 1em 0; }
